
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "/css/overview.css" %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static "js/handlePredictPrice.js" %}"></script>
        <script src="{% static "js/onButtonClick.js" %}"></script>     
        <script src="{% static "js/mgr.js" %}"></script>   
        <title> XStocker </title>
    </head>
    <body>
        <h1>Overview</h1>

        <div class="divTable" id="root">
            {% if request.user.is_authenticated %}
            <div class="divTableBody" >                
                <div class="divTableRow"> 
                    <div class="divTableRow">
                        股號
                        <input type="text" id="new_stock_input" /> 
                    </div>
                        <div class="divTableRow">
                        <button onclick="onAddClick()"> 新增 </button>  
                    </div>
                </div>
                    
                 <div class="divTableRow">          
                    季度
                    <select id="select_quarter">
                　      <option value=""></option>
                        <option value="2018Q3">2018Q3</option>
                　      <option value="2018Q2">2018Q2</option>
                　      <option value="2018Q1">2018Q1</option>
                　      <option value="2017Q4">2017Q4</option>
                        <option value="2017Q3">2017Q3</option>
                        <option value="2017Q2">2017Q2</option>
                        <option value="2017Q1">2017Q1</option>
                        <option value="2016Q4">2016Q4</option>
                        <option value="2016Q3">2016Q3</option>
                        <option value="2016Q2">2016Q2</option>
                        <option value="2016Q1">2016Q1</option>
                        <option value="2015Q4">2015Q4</option>
                        <option value="2015Q3">2015Q3</option>
                        <option value="2015Q2">2015Q2</option>
                        <option value="2015Q1">2015Q1</option>
                        <option value="2014Q4">2014Q4</option>
                        <option value="2014Q3">2014Q3</option>
                        <option value="2014Q2">2014Q2</option>
                        <option value="2014Q1">2014Q1</option>
                        <option value="2013Q4">2013Q4</option>
                        <option value="2013Q3">2013Q3</option>
                        <option value="2013Q2">2013Q2</option>
                        <option value="2013Q1">2013Q1</option>
                        <option value="2012Q4">2012Q4</option>
                        <option value="2012Q3">2012Q3</option>
                        <option value="2012Q2">2012Q2</option>
                        <option value="2012Q1">2012Q1</option>

                    </select>
                </div>
                <div class="divTableRow">
                    日期
                    <input type="text" id="select_date"  />
                </div>
                <div class="divTableRow">
                    <button onclick="onUpdateClick()"> 更新 </button>  
                </div>  
            </div>
            {% endif %}
        </div>    
        <div class="divTable paleBlueRows" id="parent">
            {{ csrf_input }}
            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead">
                        股票代號
                        <button onclick="onSortIdClick()"> Sort </button>
                    </div>
                    <div class="divTableHead">股票名稱</div>
                    <div class="divTableHead">
                        最新收盤價
                        <button onclick="onSortCloseClick()"> Sort </button>
                    </div>
                    <div class="divTableHead">昂貴價</div>
                    <div class="divTableHead">合理價</div>
                    <div class="divTableHead">便宜價</div>
                    <div class="divTableHead">選項</div>
                </div>
            </div>
            <div class="divTableBody" id="tbody" >  
            {% if dataset is not None %}
                {% for stock_id, data in dataset.items %}                                          
                    <div class="divTableRow c_init" name="s_{{ stock_id }}" value="{{data.status}}" task="{{data.task_id}}">
                        <div class="divTableCell" id = "id_{{ stock_id }}">{{ stock_id }}</div>
                        <div class="divTableCell" id = "name_{{ stock_id }}">  
                            <a target="_blank" href="https://goodinfo.tw/StockInfo/StockBzPerformance.asp?STOCK_ID={{ stock_id }}&YEAR_PERIOD=9999&RPT_CAT=M_QUAR">
                                {{ data.basic.name }}
                            </a>
                        </div>
                        <div class="divTableCell cPrice" id = "price_now_c_{{ stock_id }}">{{ data.basic.info.close }}</div>
                        <!-- begin predict price group -->
                        <div class="divTableCell" id = "price_exp_{{ stock_id }}"> {{ data.data.expen }} </div>
                        <div class="divTableCell" id = "price_res_{{ stock_id }}"> {{ data.data.reson }} </div>
                        <div class="divTableCell" id = "price_chp_{{ stock_id }}"> {{ data.data.cheap }} </div>  
                        <div class="divTableCell" id = "toolbar_{{ stock_id }}"> 
                            <input type="button" id="delbtn_{{ stock_id }}" name="{{ stock_id }}" onclick="onDeleteClick(this.name)" value="移除">
                        </div>                          
                        <!--end predict price group -->                       
                    </div>    
                {% endfor %}
            {% endif %} 
            </div>     
        </div>
        <script>  
            function onUpdateQuarterClick() {                
                $(".divTableRow.c_init").attr('value', 'INIT');
            }

            function getCookie(name)
            {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?

                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            $.ajaxSetup({ 
                beforeSend: function(xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                } 
            });   
           
        </script>
    </body>
</html>